@font-face {
  font-family: "montserrat_alternatesblack";
  src: url("montserratalternates-black.woff2") format("woff2"),
    url("montserratalternates-black.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "bodoni_06ptbold";
  src: url("bodoni-06-bold-webfont.woff2") format("woff2"),
    url("bodoni-06-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "bodoni_06ptregular";
  src: url("bodoni-06-book-webfont.woff2") format("woff2"),
    url("bodoni-06-book-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
}

body {
  margin: 20px;
  background-image: url(bg.jpg);
  box-shadow: 5px 5px 15px 1px #003049;  
  height: 100%;
  padding: 0 0 300px 0;
}

#logo {
  cursor: pointer;
  width: 120px;
  transition-duration: 180ms;
  transition-property: all;
  transition-timing-function: ease-in-out;
}

#logo:hover {
  border-radius: 5px;
  background: rgba(214, 207, 203, 0.1);
  box-shadow: 1px 1px 30px #fff;
}

nav {
  display: flex;
  justify-content: space-evenly;  
  flex-flow: row nowrap;
  padding: 10px;
  background-color: #003049;
}

ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row wrap;
  width: 70%;
  margin-left: 100px;
}


li {
  
  font-family: "montserrat_alternatesblack", "Arial", "Helvetica", "sans-serif";
  color: #fff;
  transition-duration: 120ms;
  transition-property: font-size;
  transition-timing-function: ease-in-out;
  list-style-type: none;
}

li:hover {
  font-size: larger;

}

a {
  color: #fff;
  text-decoration: none;
}

.h1welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 30rem;
  background: url("Luxe.jpg") no-repeat fixed 50% 50%;
  font-family: "bodoni_06ptbold", "Arial", "Helvetica", "sans-serif";
  color: #fff;
  text-shadow: 2px 2px 5px#003049;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
#mainhome {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: column nowrap;
  background-color: rgb(0, 48, 73);
}

h1 {
  font-family: "bodoni_06ptbold", "Arial", "Helvetica", "sans-serif";
}

h2 {
  font-family: "bodoni_06ptbold", "Arial", "Helvetica", "sans-serif";
  color: #fff;
  padding: 30px 0 0 30px;
}

p {
  font-family: "bodoni_06ptregular", "Arial", "Helvetica", "sans-serif";
  color: #fff;
  font-size: 1.2em;
  text-align: justify;
  padding: 30px;
}

/* Royal Family */

#h1family {
  font-family: "bodoni_06ptbold", "Arial", "Helvetica", "sans-serif";
  color: #003049;
  margin: 50px;
  padding: 0 65% 0 0;
}

#mainfamily {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row wrap;
}

figure {
  margin: 0 80px 0 80px;
  transition-duration: 200ms;
    transition-property: border;
    transition-timing-function: ease-in-out;
    box-shadow: 5px 5px 10px #003049;
}

figure:hover {
  border: 2px solid #003049;
  border-radius: 5px;
  background-color: rgba(142, 85, 114, 0.5);
  
}

.family {
    width: 280px;
    border: 2px solid #fff;
    border-radius: 5px;
    font-size: 1.4em;
    font-family: "bodoni_06ptbold", "Arial", "Helvetica", "sans-serif";
    transition-duration: 200ms;
    transition-property: all;
    transition-timing-function: ease-in-out;
    padding: 10px;
    background-color: #003049;
  }

.family:hover {
  width: 300px;
}

  figcation {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    color: #fff;
    font-family: "bodoni_06ptbold", "Arial", "Helvetica", "sans-serif";
    padding: 10px 0 5px 0;
    background-color: #003049;
  }
/* Assets */

#mainassests {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: column nowrap;
  background-color: rgb(0, 48, 73);
}

.h1assets {
  padding: 30px 0 0 70px;
}

.tableau {
  border-collapse: collapse;
  width: 80%;
  box-shadow: 5px 5px 30px rgba(44, 77, 126, 0.5);
  margin: 100px auto;
  border: 2px solid #fff;
  transition-duration: 200ms;
  transition-property: box-shadow;
  transition-timing-function: ease-in-out;
}

.tableau:hover {
  box-shadow: 10px 10px 60px rgba(44, 77, 126, 0.8);
}

thead tr {
  font-family: "montserrat_alternatesblack", "Arial", "Helvetica", "sans-serif";
  font-size: 1.4em;
  background-color: #003049;
  color: #fff;
  text-align: center;
}
th,
td {
  padding: 15px 20px;
  text-align: center;
}
tbody tr,
td,
th {
  font-family: "montserrat_alternatesblack", "Arial", "Helvetica", "sans-serif";
  border: 1px solid #fff;
}

tbody tr:nth-child(even) {
  background-color: #83c5be;
}

/* Contact */

#message {
  display: flex;
  justify-content: center;
  align-items: center;
}

#titre_contact {
  margin-top: 25px;
  padding: 10px;
}

#myForm {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  font-family: "bodoni_06ptregular", "Arial", "Helvetica", "sans-serif";
  font-size: 1.2em;
  text-align: left;
  padding: 10px;
}

#pseudo,
#mail {
  width: 90%;
  border: 2px solid black;
  border-radius: 2px;
}

#message {
  width: 90%;
  height: 200px;
  border: 2px solid black;
  border-radius: 2px;
}

#contact {
  background-color: rgba(233, 237, 201, 0.6);
  border: 3px solid black;
  border-radius: 5px;
  padding: 30px;
  height: 5%;
}

textarea {
  max-width: 90%;
}
#submit {
  font-size: 1em;
  display: inline-block;
  padding: 0.74em;
  margin: 1em 0 0;
  color: #6b705c;
  border-width: 0;
  border: 1px solid;
  text-transform: uppercase;
}

#submit:hover {
  color: #003049;
  cursor: pointer;
}
