@font-face {
  font-family: "montserrat_alternatesblack";
  src: url("montserratalternates-black.woff2") format("woff2"),
  url("montserratalternates-black.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "bodoni_06ptbold";
  src: url("bodoni-06-bold-webfont.woff2") format("woff2"),
  url("bodoni-06-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "bodoni_06ptregular";
  src: url("bodoni-06-book-webfont.woff2") format("woff2"),
  url("bodoni-06-book-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
}

body {
  margin: 20px;
  background-image: url(bg.jpg);
  box-shadow: 5px 5px 15px 1px #003049;  
  height: 100%;
  padding: 0 0 200px 0;
}

#bodyhome {
  padding: 0;
}

#logo {
  cursor: pointer;
  width: 120px;
  transition-duration: 180ms;
  transition-property: all;
  transition-timing-function: ease-in-out;
}

#logo:hover {
  border-radius: 5px;
  background: rgba(214, 207, 203, 0.1);
  box-shadow: 1px 1px 30px #fff;
}

nav {
  display: flex;
  justify-content: space-evenly;  
  flex-flow: row nowrap;
  padding: 10px;
  background-color: #003049;
}

ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row wrap;
  width: 70%;
  margin-left: 100px;
}

li {
  
  font-family: "montserrat_alternatesblack", "Arial", "Helvetica", "sans-serif";
  color: #fff;
  transition-duration: 120ms;
  transition-property: font-size;
  transition-timing-function: ease-in-out;
  list-style-type: none;
}

li:hover {
  font-size: larger;

}

a {
  color: #fff;
  text-decoration: none;
}

.h1welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 30rem;
  background: url("bghome.jpg") no-repeat fixed;
  font-family: "bodoni_06ptbold", "Arial", "Helvetica", "sans-serif";
  color: #fff;
  text-shadow: 2px 2px 5px#003049;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
#mainhome {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: column nowrap;
  background-color: rgb(0, 48, 73);
}

h1 {
  font-family: "bodoni_06ptbold", "Arial", "Helvetica", "sans-serif";
}

#h2index {
  display: flex;
  justify-content: flex-start;
  background-color: #003049;
}

h2 {
  font-family: "bodoni_06ptbold", "Arial", "Helvetica", "sans-serif";
  color: #fff;
  padding: 30px 0 0 30px;
}

p {
  font-family: "bodoni_06ptregular", "Arial", "Helvetica", "sans-serif";
  color: #fff;
  font-size: 1.2em;
  text-align: justify;
  padding: 30px;
}

/* Royal Family */

#mainfamily {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "bodoni_06ptregular", "Arial", "Helvetica", "sans-serif";
  font-size: 1.2em;
}

#h1family {
  display: flex;
  justify-content: flex-start;
  font-family: "bodoni_06ptbold", "Arial", "Helvetica", "sans-serif";
  color: #003049;  
  padding: 50px;
  width: 80%;
}

#figures {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

figure {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #003049;    
  background-color: #003049;
  transition-duration: 200ms;
  transition-property: all;
  transition-timing-function: ease-in-out;
}

figure:hover {
  box-shadow: 5px 5px 30px #003049;
}

.family {
  width: 280px;
  font-size: 1.4em;
  font-family: "bodoni_06ptbold", "Arial", "Helvetica", "sans-serif";
  
  border-radius: 10px;
}

figcaption {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #003049;
  height: 30px;
}

/* Assets */

#mainassests {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: column nowrap;
  background-color: rgb(0, 48, 73);
}

.h1assets {
  padding: 30px 0 0 10%;
  color: #003049;
}

.tableau {
  border-collapse: collapse;
  width: 80%;
  box-shadow: 5px 5px 30px rgba(44, 77, 126, 0.5);
  margin: 50px auto;
  border: 2px solid #fff;
  transition-duration: 200ms;
  transition-property: box-shadow;
  transition-timing-function: ease-in-out;
}

.tableau:hover {
  box-shadow: 10px 10px 60px rgba(44, 77, 126, 0.8);
}

thead tr {
  font-family: "montserrat_alternatesblack", "Arial", "Helvetica", "sans-serif";
  font-size: 1.4em;
  background-color: #003049;
  color: #fff;
  text-align: center;
}
th,
td {
  padding: 15px 20px;
  text-align: center;
}
tbody tr,
td,
th {
  font-family: "montserrat_alternatesblack", "Arial", "Helvetica", "sans-serif";
  border: 1px solid #fff;
}

tbody tr:nth-child(even) {
  background-color: #83c5be;
}

/* Contact */

#maincontact {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  font-family: "bodoni_06ptregular", "Arial", "Helvetica", "sans-serif";
  font-size: 1.2em;
  text-align: left;
  margin-left: 4%;
}

.h1contact {
  margin: 50px;
  color: #003049;
}

#myForm {
  padding: 0 0 0 50px;
  width: 100%;
  color: #003049;
}

#name,
#mail {
  width: 90%;
  border: 2px solid #003049;
  border-radius: 2px;
  margin: 20px 0 20px 0;
}

#message {
  width: 90%;
  height: 200px;
  border: 2px solid #003049;
  border-radius: 2px;
  
  margin: 20px 0 20px 0;
}

#button {
  display: flex;
  width: 90%;
  justify-content: flex-end;
}
#submit {
  font-size: 1em;
  color: #003049;
  border: 1px solid #003049;
  border-radius: 5px;
  text-transform: uppercase;
  transition-duration: 200ms;
  transition-property: all;
  transition-timing-function: ease-in-out;
  padding: 3px;
}

#submit:hover {
  color: #fff;
  cursor: pointer;
  padding: 8px;
  background-color: #003049;
  border: 2px solid #fff;
}
